body {
  background: #21232e;
  margin: 0px;
  max-width: 1920px;
  width: 100%; }

main {
  display: flex;
  justify-content: center; }

header {
  background-image: url(../img/m-h-night.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  border-radius: 0 0 45% 0; }

.header-wrap {
  margin: 0px 190px 0px 190px; }

.landing-logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px; }
  .landing-logo img {
    margin-right: 15px;
    height: 50px;
    width: 50px;
    display: inline-block; }
  .landing-logo p {
    display: inline-block;
    text-align: center;
    font-size: 18pt;
    font-weight: 600;
    font-family: "Source Sans Pro", sans-serif;
    color: #fff; }
  .landing-logo span {
    display: block;
    text-align: center;
    font-size: 8pt;
    font-family: "Source Sans Pro", sans-serif;
    color: #fff; }

.header_heading {
  display: block;
  font-size: 45pt;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  line-height: 1;
  color: #fff;
  width: 450px;
  margin: 20px 0px 40px 0px; }
  .header_heading::after {
    content: '';
    background-color: #ff4e33;
    display: block;
    height: 35px;
    width: 56%;
    z-index: -1;
    margin: -40px 0px 40px 0px; }

.header_text {
  color: #fff;
  font-family: "Fresca", sans-serif;
  white-space: pre-line; }

.header_button, .section_banner_button {
  width: 120px;
  height: 40px;
  background-color: #e3ac00;
  border: 0;
  border-radius: 2px;
  margin-top: 40px;
  color: #fff;
  font-weight: bold;
  font-size: 14px; }
  .header_button:hover, .section_banner_button:hover {
    background: red;
    transition: 0.3s; }

.login {
  color: #fff;
  margin-left: 120px; }

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.section_text {
  display: block;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 25pt; }
  .section_text::after {
    content: '';
    background-color: #ff4e33;
    display: block;
    height: 35px;
    width: 45%;
    text-align: center;
    z-index: -1;
    margin: -42px 0px 10px 172px; }

.section_card_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .section_card_wrap div {
    margin: 8px;
    background: #3b3f50;
    color: #fff;
    border-radius: 5px;
    max-width: 800px; }
    .section_card_wrap div p:nth-child(2) {
      display: flex;
      justify-content: center;
      text-align: justify;
      font-family: "Fresca", sans-serif;
      font-size: 10pt;
      margin-left: 81px;
      margin-right: 80px;
      line-height: 1.8;
      padding: 0px 10px 0px 10px;
      color: #c5c5c5; }
    .section_card_wrap div a {
      display: flex;
      justify-content: center;
      color: #c5c5c5;
      margin-top: -10px; }

.section_card:nth-child(1) img {
  padding: 15px;
  border-radius: 20px;
  width: 370px;
  height: 200px; }

.section_card:nth-child(2) img {
  padding: 15px;
  border-radius: 20px;
  width: 270px;
  height: 200px; }

.section_card:nth-child(3) img {
  padding: 15px;
  border-radius: 20px;
  width: 415px;
  height: 200px; }

.section_card_heading {
  display: flex;
  justify-content: center;
  margin: 25px 0px 0px 0px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 15pt; }

.section_card {
  display: flex;
  flex-direction: row; }

.section_banner {
  background: linear-gradient(to right, #e3ac00, #932c53);
  width: 55%;
  border-radius: 5px;
  margin-top: 100px;
  height: 120px;
  position: relative; }

.section_banner_text_wrap {
  padding: 25px 80px 10px 80px; }

.section_banner_heading {
  display: inline-block;
  margin: 0px 0px 0px 0px;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 20pt; }
  .section_banner_heading::after {
    content: '';
    background-color: #ff4e33;
    display: block;
    height: 35px;
    width: 57px;
    z-index: -1;
    margin: -35px 0px 0px 106px; }

.section_banner_text {
  font-family: "Fresca", sans-serif;
  font-size: 10pt;
  color: #c5c5c5;
  display: block; }

.section_banner_button {
  position: absolute;
  bottom: 33%;
  right: 80px; }

footer {
  background: #3b3f50;
  margin-top: -55px; }

.footer-wrap {
  display: flex;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.footer_logo {
  margin-top: 100px;
  margin-left: 55px; }
  .footer_logo p {
    color: #c5c5c5; }
  .footer_logo span {
    color: #c5c5c5; }

.footer_text {
  margin-top: 100px;
  width: 16.5%;
  color: #c5c5c5;
  font-family: "Fresca", sans-serif;
  font-size: 9pt; }

.footer-cr {
  margin-top: 80px;
  margin-right: 80px;
  color: #c5c5c5;
  font-family: "Fresca", sans-serif;
  font-size: 9pt; }
