* {

    margin: 0px;

    padding: 0px;

}



body {

  font-family: roboto;

}



header {

  display: flex;

  justify-content: center;

}



.header-menu {

  display: flex;

  align-items: center;

  justify-content: space-between;

  background: #162b4d;

  color: white;

  height: 80px;

  max-width: 1400px;
  width: 100%;

}

.toggle{
  display: none;
}



.logo {

  font-size: 26pt;

  color: #fff;

  padding: 15px;

  font-weight: 200;

}



.logo1 {

  color: #fff;

}



.logo2 {

  color: #d12955;

}



.header-nav {

  display: flex;

  align-items: center;

  list-style-type: none;

  margin-right: 50px;

  height: 80px;

  overflow: hidden;

}



.header-nav li a {

  display: block;

  height: 80px;

  padding-top: 46px;

  color: #fff;

  font-size: 16pt;

  font-weight: 300;

  text-decoration: none;

  outline: none;

  padding-left: 15px;

  padding-right: 45px;

}



.header-nav li a:hover {

  background: #293d60;
  cursor: pointer;

}





main {

  display: flex;

  justify-content: center;

  padding-top: 26px;

  padding-bottom: 26px;

}



.main-1 {

  max-width: 1048px;
  width: 100%;

  margin-right: 26px;

}



.section-1 {

  display: flex;

  align-items: stretch;

  position: relative;

  flex-wrap: wrap;
}

.section-2 {

  display: flex;

  align-items: stretch;

  position: relative;

  height: 430px;

}



.data {

  position: absolute;

  margin-top: 25px;

  color: #484848;

  font-size: 40pt;

  font-weight: lighter;

  line-height: 40px;

  text-align: center;

}



.positionright {

  top: 0;

  right: 0;

}



.positionleft {

  top: 0;

  left: 0;

}

.positionright-time{
  top: 0;

  right: 0;

  margin-right: 10px;
}

.positionleft-time{
  top: 0;

  left: 0;

  margin-left: 10px;
}


.data time {

  white-space: pre-line;

}



.data p span {
  
  font-size: 20pt;


}



.section-1:nth-child(even) {

  flex-direction: row-reverse;

}



.col1 {

  background-color: #F3D250;

}



.col2 {

 background-color: #8D8741;

}



.col3 {

  background-color: #659DBD;

}



.col4 {

  background-color: #DAAD86;

}



.main-element-text {

  display: flex;

  flex-direction: column;

  color: #484848;

  padding-top: 50px;

  flex: 1;

}



.main-element-text:hover {

  background: rgba(243, 210, 80, 0.7);
  cursor: pointer;

}



.main-element-img-1 {

  background-image: url(../img/post1.jpg);

  background-size: cover;

  background-repeat: no-repeat;
  
  display: flex;

  flex: 1;

  height: auto;

}



.main-element-img-1:hover {

  opacity: 0.4;
  cursor: pointer;

}



 .main-element-img-2:hover {

   opacity: 0.4;
   cursor: pointer;

}



.main-element-img-3:hover {

  opacity: 0.4;
  cursor: pointer;

}



.main-element-img-4:hover {

 opacity: 0.4;
 cursor: pointer;

}



.main-element-img-2 {

  background-image: url(../img/post2.jpg);

  background-size: cover;

  background-repeat: no-repeat;

  flex: 1;

  height: auto;

}



.main-element-img-3 {

  background-image: url(../img/post3.jpg);

  background-size: cover;

  background-repeat: no-repeat;

  flex: 1;

  height: auto;

}



.main-element-img-4 {

  background-image: url(../img/post4.jpg);

  background-size: cover;

  background-repeat: no-repeat;

  flex: 1;

  height: auto;

}



.lft {

  text-align: left;

  padding-left: 40px;

  padding-right: 100px;

  margin-bottom: 20px;

}

.end-element-text{

  display: flex;

  justify-content: center;

  flex-direction: column;

  color: #FFF;
  
  padding-top: 50px;

  text-align: left;

  padding-left: 40px;

  padding-right: 100px;

  margin-bottom: 20px;

  margin-top: 100px;

}



.rght {

  text-align: right;

  padding-left: 100px;

  padding-right: 40px;

  margin-bottom: 20px;

}



.main-element-text p {

  padding-top: 25px;

  padding-bottom: 40px;

  font-size: 12pt;

  line-height: 28px;

  color: #484848;

}



.main-element-text h2 {

  line-height: 1;

  padding-left: 40px;

  font-size: 30pt;

  font-weight: lighter;

  white-space: pre-line;

}

.end-element-text h2{

  line-height: 1;

  font-size: 30pt;

  font-weight: lighter;

  white-space: pre-line;

}

.end-element-text p{

  padding-top: 25px;

  padding-bottom: 40px;

  font-size: 11pt;

  line-height: 28px;

  color: #FFF;
}

.main-element-img-5 {

  background-image: url(../img/post5.jpg);

  background-size: cover;

  background-repeat: no-repeat;

  display: flex;

  justify-content: center;

  height: auto;

}


.aside-wrap {

  display: flex;

  flex-direction: column;

}



aside {

  display: flex;

  flex-direction: column;

  width: 326px;

  min-height: 400px;

  background-color: white;

  margin-bottom: 26px;

  padding-bottom: 30px;

}



aside h3 {

  line-height: 1;

  margin-top: 35px;

  padding-left: 30px;

  font-size: 22pt;

  font-weight: 300;

  white-space: pre-line;

}



aside p {

  font-size: 12pt;

  line-height: 1.5;

  color: rgba(0, 0, 0, 0.6);

  padding: 15px 30px 0 30px;

  font-weight: 300;

}

.button1 {
    display: inline-block;
    text-decoration: none;
    outline: none;
    border: 2px solid #000;
    user-select: none;
    background-color: #fff;
    color: #000;
    padding: .8em 1em;
    margin-left: 30px;
    font-size: 10pt;
    font-family: "Arial", serif;
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 25px;
  }

  .button1:hover {

    border:none;
    border-bottom: 2px solid #000;
    cursor: pointer;
  }



.aside-element-img-1 {

  background-image: url(../img/news1.jpg);

  background-size: cover;

  background-repeat: no-repeat;

  width: 326px;

  height: 150px;

}



.aside-element-img-2 {

  background-image: url(../img/news2.jpg);

  background-size: cover;

  background-repeat: no-repeat;

  width: 326px;

  height: 220px;

}



footer {

  display: flex;

  justify-content: center;

}



.footer-wrap {

  display: flex;

  align-items: center;

  justify-content: space-between;

  background: #162b4d;

  color: white; 

  height: 120px;

  width: 1400px;

}



.left-text, .right-text {

  padding-left: 40px;

  padding-right: 40px;

  white-space: pre-line;

  color: #577293;

}





 @media (max-width: 1400px) { 
  * {

    margin: 0px;

    padding: 0px;

}



body {

  background-color: #0b192f;

  font-family: roboto;

}



header {

  display: flex;

  justify-content: center;

}



.header-menu {

  display: flex;

  align-items: center;

  justify-content: space-between;

  background: #162b4d;

  color: white;

  height: 80px;

  width: 1380px;

}



.logo {

  font-size: 26pt;

  color: #fff;

  padding: 15px;

  font-weight: 200;

}



.logo1 {

  color: #fff;

}



.logo2 {

  color: #d12955;

}



.header-nav {

  display: flex;

  align-items: center;

  list-style-type: none;

  margin-right: 50px;

  height: 80px;

  overflow: hidden;

}



.header-nav li a {

  display: block;

  height: 80px;

  padding-top: 46px;

  color: #fff;

  font-size: 16pt;

  font-weight: 300;

  text-decoration: none;

  outline: none;

  padding-left: 15px;

  padding-right: 45px;

}



.header-nav li a:hover {

  background: #293d60;
  cursor: pointer;

}





main {

  display: flex;

  justify-content: center;

  padding-top: 26px;

  padding-bottom: 26px;

}



.main-1 {

  max-width: 1018px;
  width: 100%;

  margin-right: 26px;

}



.section-1 {

  display: flex;

  align-items: stretch;

  position: relative;

}

.section-2 {

  display: flex;

  align-items: stretch;

  position: relative;

  height: 430px;

}



.data {

  position: absolute;

  margin-top: 25px;

  color: #484848;

  font-size: 40pt;

  font-weight: lighter;

  line-height: 40px;

  text-align: center;

}



.positionright {

  top: 0;

  right: 0;

}



.positionleft {

  top: 0;

  left: 0;

}

.positionright-time{
  top: 0;

  right: 0;

  margin-right: 10px;
}

.positionleft-time{
  top: 0;

  left: 0;

  margin-left: 10px;
}


.data time {

  white-space: pre-line;

}



.data p span {
  
  font-size: 20pt;


}



.section-1:nth-child(even) {

  flex-direction: row-reverse;

}



.col1 {

  background-color: #F3D250;

}



.col2 {

 background-color: #8D8741;

}



.col3 {

  background-color: #659DBD;

}



.col4 {

  background-color: #DAAD86;

}



.main-element-text {

  display: flex;

  flex-direction: column;

  color: #484848;

  padding-top: 50px;

  flex: 1;

}



.main-element-text:hover {

  background: rgba(243, 210, 80, 0.7);
  cursor: pointer;

}



.main-element-img-1 {

  background-image: url(../img/post1.jpg);

  background-size: cover;

  background-repeat: no-repeat;
  
  display: flex;

  flex: 1;

  height: auto;

}



.main-element-img-1:hover {

  opacity: 0.4;
  cursor: pointer;

}



 .main-element-img-2:hover {

   opacity: 0.4;
   cursor: pointer;

}



.main-element-img-3:hover {

  opacity: 0.4;
  cursor: pointer;

}



.main-element-img-4:hover {

 opacity: 0.4;
 cursor: pointer;

}



.main-element-img-2 {

  background-image: url(../img/post2.jpg);

  background-size: cover;

  background-repeat: no-repeat;

  flex: 1;

  height: auto;

}



.main-element-img-3 {

  background-image: url(../img/post3.jpg);

  background-size: cover;

  background-repeat: no-repeat;

  flex: 1;

  height: auto;

}



.main-element-img-4 {

  background-image: url(../img/post4.jpg);

  background-size: cover;

  background-repeat: no-repeat;

  flex: 1;

  height: auto;

}



.lft {

  text-align: left;

  padding-left: 40px;

  padding-right: 100px;

  margin-bottom: 20px;

}

.end-element-text{

  display: flex;

  justify-content: center;

  flex-direction: column;

  color: #FFF;
  
  padding-top: 50px;

  text-align: left;

  padding-left: 40px;

  padding-right: 100px;

  margin-bottom: 20px;

  margin-top: 100px;

}



.rght {

  text-align: right;

  padding-left: 100px;

  padding-right: 40px;

  margin-bottom: 20px;

}



.main-element-text p {

  padding-top: 25px;

  padding-bottom: 40px;

  font-size: 12pt;

  line-height: 28px;

  color: #484848;

}



.main-element-text h2 {

  line-height: 1;

  padding-left: 40px;

  font-size: 30pt;

  font-weight: lighter;

  white-space: pre-line;

}

.end-element-text h2{

  line-height: 1;

  font-size: 30pt;

  font-weight: lighter;

  white-space: pre-line;

}

.end-element-text p{

  padding-top: 25px;

  padding-bottom: 40px;

  font-size: 11pt;

  line-height: 28px;

  color: #FFF;
}

.main-element-img-5 {

  background-image: url(../img/post5.jpg);

  background-size: cover;

  background-repeat: no-repeat;

  display: flex;

  justify-content: center;

  height: auto;

}


.aside-wrap {

  display: flex;

  flex-direction: column;

}



aside {

  display: flex;

  flex-direction: column;

  width: 326px;

  min-height: 400px;

  background-color: white;

  margin-bottom: 26px;

  padding-bottom: 30px;

}



aside h3 {

  line-height: 1;

  margin-top: 35px;

  padding-left: 30px;

  font-size: 22pt;

  font-weight: 300;

  white-space: pre-line;

}



aside p {

  font-size: 12pt;

  line-height: 1.5;

  color: rgba(0, 0, 0, 0.6);

  padding: 15px 30px 0 30px;

  font-weight: 300;

}

.button1 {
    display: inline-block;
    text-decoration: none;
    outline: none;
    border: 2px solid #000;
    user-select: none;
    background-color: #fff;
    color: #000;
    padding: .8em 1em;
    margin-left: 30px;
    font-size: 10pt;
    font-family: "Arial", serif;
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 25px;
  }

  .button1:hover {

    border:none;
    border-bottom: 2px solid #000;
    cursor: pointer;
  }



.aside-element-img-1 {

  background-image: url(../img/news1.jpg);

  background-size: cover;

  background-repeat: no-repeat;

  width: 326px;

  height: 150px;

}



.aside-element-img-2 {

  background-image: url(../img/news2.jpg);

  background-size: cover;

  background-repeat: no-repeat;

  width: 326px;

  height: 220px;

}



footer {

  display: flex;

  justify-content: center;

}



.footer-wrap {

  display: flex;

  align-items: center;

  justify-content: space-between;

  background: #162b4d;

  color: white; 

  height: 120px;

  width: 1380px;

}



.left-text, .right-text {

  padding-left: 40px;

  padding-right: 40px;

  white-space: pre-line;

  color: #577293;

}
} 

@media (max-width: 768px) { 
  .section-1{
    flex-direction: column;
    width: 100%;
    
  }
  .section-2{
    flex-direction: column;
  }
  
  main {

  display: flex;

  justify-content: center;

  padding-top: 20px;

  padding-bottom: 20px;

  max-width: 758px;
  width: 100%;
  padding-left: 5px;

}
  .header-menu {
    width: 758px;
  }


  .header-nav{
    display: none;
  }

  .toggle{
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .header-menu {

  display: flex;

  align-items: center;

  justify-content: center;

  flex-direction: column-reverse;

  background: #162b4d;

  color: white;

  height: 200px;

  max-width: 758px;

}
.header-menu .logo{
  
  z-index: 1;

  font-size: 26pt;

  color: #fff;

  padding: 15px;

  font-weight: 200;

}

.logo1 {
  color: #fff;

}

.logo2 {
  
  color: #d12955;

}
.main-element-img-1{
  min-width: 210px;
  min-height: 290px;
}
.col1{
  min-width: 210px;
}
.main-element-img-2{
  min-width: 210px;
  min-height: 290px;
}
.col2{
  min-width: 210px;
}
.main-element-img-3{
  min-width: 210px;
  min-height: 290px;
}
.col3{
  min-width: 210px;
}
.main-element-img-4{
  min-width: 210px;
  min-height: 290px;
}
.col4{
  min-width: 210px;
}

.data {
  color: #484848;
  font-size: 25pt;
  font-weight: lighter;
  line-height: 30px;
}

.data time {
  display: flex;
  justify-content: center;
}

.data p span {
  margin-top: 4px;
  font-size: 18pt;
}

.positionright-time{
  margin-top: 510px;
  margin-right: 165px;
}

.positionleft-time{
  margin-top: 510px;
  margin-left: 160px;
}

.lft {
  text-align: justify;
  padding-left: 40px;
  padding-right: 50px;
  margin-bottom: 20px;
}

.rght {
  text-align: justify;
  padding-left: 45px;
  padding-right: 40px;
  margin-bottom: 10px;
}

.main-element-text p {
  padding-top: 10px;
  padding-bottom: 50px;
  font-size: 8pt;
  line-height: 20px;
  color: #484848;
}

.main-element-text h2 {
  line-height: 1;
  padding-left: 40px;
  font-size: 26pt;
  font-weight: lighter;
  white-space: pre-line;
}

.end-element-text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #FFF;
  padding-top: 50px;
  text-align: left;
  padding-left: 30px;
  padding-right: 40px;
  margin-bottom: 20px;
  margin-top: 100px;
}

.end-element-text h2{
  line-height: 1;
  font-size: 27pt;
  font-weight: lighter;
  white-space: pre-line;
}

.end-element-text p{
  padding-top: 25px;
  padding-bottom: 40px;
  font-size: 9pt;
  line-height: 28px;
  color: #FFF;
}

.footer-wrap{
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #162b4d;
  color: white; 
  height: 120px;
  width: 758px;
}

.left-text{
  margin-top: 30px;
}

.left-text, .right-text {
  white-space: pre-line;
  text-align: center;
  color: #577293;

}
}





@media (max-width: 480px) {

    main {

  display: flex;

  justify-content: center;

  padding-top: 20px;

  padding-bottom: 20px;

  padding-left: 5px;

}
  .header-menu {
    width: 470px;
  }
  .main-content{
    flex-wrap: wrap;
  }
  .main-1{
    margin-left: 22px;
  }

  .header-nav{
    display: none;
  }

  .toggle{
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .header-menu {

  display: flex;

  align-items: center;

  justify-content: center;

  flex-direction: column-reverse;

  background: #162b4d;

  color: white;

  height: 200px;

  max-width: 475px;

}
.header-menu .logo{
  
  z-index: 1;

  font-size: 26pt;

  color: #fff;

  padding: 15px;

  font-weight: 200;

}

.logo1 {
  color: #fff;

}

.logo2 {
  
  color: #d12955;

}
.main-element-img-1{
  min-width: 230px;
  min-height: 290px;
}
.col1{
  min-width: 230px;
}
.main-element-img-2{
  min-width: 230px;
  min-height: 290px;
}
.col2{
  min-width: 230px;
}
.main-element-img-3{
  min-width: 230px;
  min-height: 290px;
}
.col3{
  min-width: 230px;
}
.main-element-img-4{
  min-width: 230px;
  min-height: 290px;
}
.col4{
  min-width: 230px;
}

.data {
  color: #484848;
  font-size: 25pt;
  font-weight: lighter;
  line-height: 30px;
}

.data time {
  display: flex;
  justify-content: center;
}

.data p span {
  margin-top: 4px;
  font-size: 18pt;
}

.positionright-time{
  margin-top: 500px;
  margin-right: 175px;
}

.positionleft-time{
  margin-top: 510px;
  margin-left: 170px;
}

.lft {
  text-align: justify;
  padding-left: 40px;
  padding-right: 50px;
  margin-bottom: 20px;
}

.rght {
  text-align: justify;
  padding-left: 45px;
  padding-right: 40px;
  margin-bottom: 10px;
}

.main-element-text p {
  padding-top: 10px;
  padding-bottom: 50px;
  font-size: 8pt;
  line-height: 20px;
  color: #484848;
}

.main-element-text h2 {
  line-height: 1;
  padding-left: 40px;
  font-size: 26pt;
  font-weight: lighter;
  white-space: pre-line;
}

.end-element-text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #FFF;
  padding-top: 50px;
  text-align: left;
  padding-left: 30px;
  padding-right: 40px;
  margin-bottom: 20px;
  margin-top: 100px;
}

.end-element-text h2{
  line-height: 1;
  font-size: 27pt;
  font-weight: lighter;
  white-space: pre-line;
}

.end-element-text p{
  padding-top: 25px;
  padding-bottom: 40px;
  font-size: 9pt;
  line-height: 28px;
  color: #FFF;
}

.footer-wrap{
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #162b4d;
  color: white; 
  height: 130px;
  width: 470px;
}

.left-text{
  margin-top: 30px;
}

.left-text, .right-text {
  white-space: pre-line;
  text-align: center;
  color: #577293;

}
}

